<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gestion Estadisticas</title>
</head>
<body>
    <head>
        <h1>
            Gestión de Cursos de Posgrado-Facultad de Tecnología y
            Cs Aplicadas
        </h1>
    </head>
    <nav class="menu">
        <ul>
            <li><a href="Index.html">Inicio</a></li>
            <li><a href="cursos.html">Curso</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <fieldset>
        <legend>Gestion Estadisticas</legend>
        <p>Seleccione el informe que desea ver:</p>
        <ol>
            <li><a href="eCursosRealizados.html">Cursos realizados.</a></li>
            <li><a href="eListadoA.html">Listado de inscriptos por cursos.</a></li>
            <li><a href="eListadoPago.html">Listado de inscriptos que efectuaron el pago.</a></li>
            <li><a href="eListadoMoroso.html">Listado de inscriptos que falta realizar el pago.</a></li>
          </ol> 
    </fieldset>
    <div class="container-fluid1">
        <footer class="bg-dark text-center text-lg-start text-white">
          <!-- Grid container -->
          <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Facultad de Tecnología</h5>
    
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>AV. Maximio Victoria 604</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>S. F. del Valle de Catamarca</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>CP: 4700</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Departamentos</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Tecnología</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Ciencias Aplicadas</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>SIU GUARANI</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Aula Virtual </a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
    
           
    
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">CONTACTO</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Telefono: 0383 443-5112</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Facebook</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Instagram</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Grid container -->
    
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="ProgrIII">Programación III</a>
          </div>
          <!-- Copyright -->
        </footer>
    
      </div>
</body>
</html>