<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos Realizados</title>
</head>
<body>
    <head>
        <h1>
            Gestión de Cursos de Posgrado-Facultad de Tecnología y
            Cs Aplicadas
        </h1>
    </head>
    <form action="post">
        <fieldset>
            <legend>Cursos Realizados</legend>
            <label for="fincial">Seleccione Fecha Inicial</label>
            <input type="date" name="fincial" id="fincial"><br><br>
            <label for="ffin">Seleccione Fecha Fin</label>
            <input type="date" name="ffin" id="ffin"><br><br>
        </fieldset>
    </form>  
    <footer style="text-align: center;">Almonacid -- Gramajo -- Leiva</footer>  
</body>
</html>