<!DOCTYPE html>

<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../TP2/estilo.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>
            <title>Generar Curso</title>
    </head>
    <body>
        <div class="container-fluid head">

            <head>

                <h1>
                    Gestión de Cursos de Posgrado-Facultad de Tecnología y
                    Cs Aplicadas
                </h1>
            </head>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="Index.html">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="cursos.html">Curso</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="creacion_curso.html">Agregar un Curso</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="registro_curso.html">Registro de Cursos</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Opciones
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Login</a></li>
                                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Salir</a></li>
                                </ul>
                            </li>
        
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Ingrese el curso" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
            </div>
        </nav>
        <section>
            <div class= "container body1">
                <div class="card">
                    <div class="card-header1">
                        Generar Curso
                    </div>
                    <div class="card-body">
                        <form action="#" method="POST" class="row g-2">
                                
                            <div class="col-md-5">
                                    <label for="nombreCurso" class="form-label">Nombre</label>
                                    <input type="text" class="form-control"  id="nombreCurso" placeholder="Nombre del Curso" required>
                            </div>
                            <div class="col-md-7">
                                    <label for="obejtivoCurso" class="form-label">Objetivo</label>
                                    <input type="text" class="form-control" id="obejtivoCurso" placeholder="Objetivo del Curso">
                            </div>
                               
                            <div class="col-md-4">
                                    <label for="modalidad" class="form-label">Modalidad</label>
                                    <select id="modalidad" class="form-select">
                                        <option value="virtual">Virtual</option>
                                        <option value="Presencial">Presencial</option>
                                        <option value="Mixto">Mixto</option>
                                    </select>
                            </div>
                            <div class="col-md-4">
                                    <label for="costoCurso" class="form-label">Costo</label>
                                    <input type="number" class="form-control" id="costoCurso" placeholder="$5.000">
                            </div>
                            <div class="col-md-4">
                                    <label for="duracion" class="form-label">Duración</label>
                                    <input type="text" class="form-control" id="duracion">
                            </div>
                    
                            <div class="col-md-5">
                                    <label for="fechaPropuesta" class="form-label">Fecha de Propuesta</label>
                                    <input type="date" class="form-control" id="fechaPropuesta">
                            </div>
                            <div class="col-md-5">
                                    <label for="" class="form-label">Fecha de Aprobacion/Desaprobacion</label>
                                    <input type="date" class="form-control" id="">
                            </div>
                            <div class="col-md-5">
                                    <label for="cantMin" class="form-label">Cantidad minima de Alumnos</label>
                                    <input type="text" class="form-control" id="cantMin">
                            </div>
                            <div class="col-md-5">
                                    <label for="cantMax" class="form-label">Cantidad maxima de Alumnos</label>
                                    <input type="text" class="form-control" id="cantMax">
                            </div>
                            <div class="col-md-5">
                                    <label for="fechaInicioCurso" class="form-label">Fecha de Incio del Curso</label>
                                    <input type="date" class="form-control" id="fechaInicioCurso">
                            </div>
                            <div class="col-md-5">
                                    <label for="fechaFinCurso" class="form-label">Fecha de Finalizacion del Curso</label>
                                    <input type="date" class="form-control" id="fechaFinCurso">
                            </div>
                            <hr class="my-4">
                            <div class="col-md-6">
                                <label for="expositor" class="form-label">Expositor/es</label><br>
                                    <div class="input-group mb-3">
                                        
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Expositor</span>
                                          </div>
                                          <input type="text" class="form-control" placeholder="Nombre">
                                          <input type="text" class="form-control" placeholder="Apellido">
                                    </div>
                            </div>
                            <div class="col-md-3">
                                <label for="honorario" class="form-label">Honorario</label>
                                <input type="text" class="form-control" id="honorario" name="honorario" placeholder="Honorario">
                            </div>
                            

                             
                            <div class="col-12">
                                <button type="reset" class="btn btn-outline-dark botones">Cancelar</button>
                                <button type="submit" class="btn btn-outline-dark botones">Guardar</button>
                            </div>
                            
                        </form>
                    </div>              
                </div>
            </div>
        </section>
            


        <div class="container-fluid1">
            <footer class="bg-dark text-center text-lg-start text-white">
                    <!-- Grid container -->
                <div class="container p-3">
                        <!--Grid row-->
                        <div class="row mt-3">
                                    
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">CONTACTO</h5>
        
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#!" class="text-white"><i
                                                class="fas fa-backspace fa-fw fa-sm me-2"></i>Facultad</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white"><i
                                                class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>0383 443-5112</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white"><i
                                                class="fas fa-backspace fa-fw fa-sm me-2"></i>Av. Maximio Victoria 604</a>
                                    </li>
                                   
                                </ul>
                            </div>
                            <!--Grid column-->
        
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">SITIOS OFICIALES</h5>
        
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#!" class="text-white">SIU-GUARANI </a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">Aula Virtual </a>
                                    </li>
                                 
                                 
                                </ul>
                            </div>
                            <!--Grid column-->
        
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">REDES SOCIALES</h5>
        
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>
                                            Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white"><i
                                                class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Instagram</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>YouTube</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </div>
                    <!-- Grid container -->
        
                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                        © 2021 Copyright
                        <a class="text-white" href="https://mdbootstrap.com/"></a>
                    </div>
                    <!-- Copyright -->
            </footer>
        
        </div>
    </body>
    <script>
        var template = '<div class="input-group"><input type="text" class="form-control"/></div>',
    minusButton = '<span class="btn input-group-addon delete-field btn-outline-dark botones">Quitar</span>';
    

$('.add-field').click(function() {
  var temp = $(template).insertBefore('.help-block');
  temp.append(minusButton);
});

$('.fields').on('click', '.delete-field', function(){
  $(this).parent().remove();
});
    </script>
</html>
