<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestionEstadoCurso</title>
</head>
<body>
    <fieldset>
        <legend>Gestion de Estado de Curso</legend>
        <form action="post">
            <label for="nCurso"> Nombre del curso</label>
            <input type="text" name="nCurso" id="nCurso"><br><br>
            <label for="estadoCurso">Estado Curso</label><br>
            <input type="radio" name="aprobado" id="aprobado" value="Aprobado">
            <label for="aprobado">Aprobado</label><br>
            <input type="radio" name="desaprobado" id="desaprobado" value="Desaprobado">
            <label for="desaprobado">Desaprobado</label><br><br>
            <label for="archivo">Archivo de Resolucion</label>
            <input type="file" id="archivo" name="archivo"><br><br>
            <label for="fechaR">Fecha</label>
            <input type="date" name="fechaR" id="fechaR"><br><br>
            <label for="nResolucion">Numero de Resolucion</label>
            <input type="number" name="nResolucion" id="nResolucion"><br><br>
            <button type="submit">Guardar</button>
        </form>
    </fieldset>
    <div class="container-fluid1">
        <footer class="bg-dark text-center text-lg-start text-white">
          <!-- Grid container -->
          <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Facultad de Tecnología</h5>
    
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>AV. Maximio Victoria 604</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>S. F. del Valle de Catamarca</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>CP: 4700</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Departamentos</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Tecnología</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Ciencias Aplicadas</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>SIU GUARANI</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Aula Virtual </a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
    
           
    
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">CONTACTO</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Telefono: 0383 443-5112</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Facebook</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Instagram</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Grid container -->
    
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="ProgrIII">Programación III</a>
          </div>
          <!-- Copyright -->
        </footer>
    
      </div>
</body>
</html>