<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../TP2/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
        <title>Gestion de Estado de Cursos</title>
</head>
</head>
<body>
    <div class="container-fluid head">

        <head>
            
            <h1>
                Gestión de Cursos de Posgrado-Facultad de Tecnología y
                Cs Aplicadas
            </h1>
        </head>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="Index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="cursos.html">Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="creacion_curso.html">Agregar un Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="registro_curso.html">Registro de Cursos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Login</a></li>
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Salir</a></li>
                            </ul>
                        </li>
    
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ingrese el curso" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
        </div>
    </nav>

    <section>
        <div class= "container body1">
            <div class="card">
                <div class="card-header1">
                    Gestion de Estado de Curso
                </div>
                <div class="card-body">
                    <form action="#" method="POST" class="row g-3">
                            <div class="col-md-6">
                                <label for="nCurso" class="form-label">Nombre del Curso</label>
                                <input type="text" class="form-control"  id="nCurso" placeholder="Nombre del Curso" >
                            </div>
                            
                            <div class="col-md-6">
                                <label for="estaddo" class="form-label">Estado del Curso</label>
                                <input type="text" class="form-control"  id="estado" placeholder="Aprobado/Desaprobado" >
                            </div>
                            <div class="col-md-3">
                                <label for="nResolucion" class="form-label">Numero de Resolucion</label>
                                <input type="number" class="form-control" id="nResolucion" name="nResolucion">
                            </div>                                               
                            <div class="col-md-9">
                                <label for="nResolucion" class="form-label">Archivo de Resolución</label>
                                <div class="input-group mb-3">                               
                                    <input type="file" class="form-control" id="nResolucion">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="fechaR" class="form-label">Fecha de Resolucion</label>
                                <input type="date" class="form-control" id="fechaR">
                            </div>
                            <div class="col-12">
                                <button type="reset" class="btn btn-outline-dark botones">Cancelar</button>
                                <button type="submit" class="btn btn-outline-dark botones">Guardar</button>
                            </div>
                            
                    </form>
                </div>              
            </div>
        </div>
    </section>

    <div class="container-fluid1">
        <footer class="bg-dark text-center text-lg-start text-white">
          <!-- Grid container -->
          <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Facultad de Tecnología</h5>
    
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>AV. Maximio Victoria 604</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>S. F. del Valle de Catamarca</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>CP: 4700</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Departamentos</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Tecnología</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Ciencias Aplicadas</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>SIU GUARANI</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Aula Virtual </a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
    
           
    
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">CONTACTO</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Telefono: 0383 443-5112</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Facebook</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Instagram</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Grid container -->
    
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="ProgrIII">Programación III</a>
          </div>
          <!-- Copyright -->
        </footer>
    
      </div>
      
</body>
</html>