<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
    <head>
        <h1>
            Gestión de Cursos de Posgrado-Facultad de Tecnología y
            Cs Aplicadas
        </h1>
    </head>
    <h2>Listado de Alumnos efectuaron el pago del Curso</h2>
        <table style="width:50%">
            <tr>
              <th>Nombre Completo</th>
              <th>DNI</th>
              <th>Curso</th>
              
            </tr>
            <tr>
              <td>Raul Martinez</td>
              <td>30456789</td>
              <td>Doctorado en Agrimensura</td>
            </tr>
            <tr>
              <td>Luisa Alderete</td>
              <td>24458908</td>
              <td>Doctorado en Geologia</td>
            </tr>
          </table>
          
</body>
</html>